# Minimal Verdaccio config with built-in auth
storage: /verdaccio/storage
plugins: /verdaccio/plugins

web:
  title: NPM Registry
  enable: true

auth:
  htpasswd:
    file: /verdaccio/storage/htpasswd
    max_users: -1  # ilimitados

security:
  api:
    jwt:
      sign:
        expiresIn: 60d
  web:
    sign:
      expiresIn: 7d

uplinks:
  npmjs:
    url: https://registry.npmjs.org/

packages:
  '@*/*':
    access: $all
    publish: $authenticated
    proxy: npmjs

  '**':
    access: $all
    publish: $authenticated
    proxy: npmjs

logs:
  - { type: stdout, format: pretty, level: http }